* {
  box-sizing: border-box;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: rgba(177, 216, 228, 0.384);
}

/* Header Start*/

header {
  background-color: rgb(177, 216, 228, 1);
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 2;
  text-transform: uppercase;
}

.nav-opacity {
  opacity: 0.7;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 2;
  text-transform: uppercase;
}

@keyframes logo-animation {
  0% {
    transform: translate(-1000%, 0);
  }
  100% {
    transform: translate (0%, 0);
  }
}

.Animation-logo {
  animation-name: logo-animation;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}

.logo {
  height: 100%;
  text-align: center;
  padding: 0 10px;
}
.logo i {
  display: none;
}
.logo img {
  padding-top: 5px;
}
.logo h1 {
  font-size: 20px;
}
.logo a {
  text-decoration: none;
  color: black;
}

nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}
nav a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  font-size: 20px;
}

nav a:hover,
.nav-active {
  text-shadow: 2px 6px #ffffff;
}

@media only screen and (max-width: 800px) {
  header {
    display: block;
  }
  .logo {
    display: block;
  }
  .logo i {
    display: block;
    position: absolute;
    right: 100px;
    top: 40px;
    font-size: 30px;
  }

  nav {
    background-color: rgb(160, 187, 196);
    display: block;
    text-align: center;
    height: auto;
    visibility: collapse;
  }
  nav a {
    display: block;
    padding: 5px;
  }

  nav a:hover,
  .nav-active {
    text-shadow: none;
    color: white;
  }
}

/* Header End */

/* nav Start*/
.nav-container {
  background-color: rgb(211, 228, 235);
  height: 100%;
  position: sticky;
  top: 100px;
  justify-content: center;
  text-align: center;
  z-index: 1;
  padding: 10px;
}
.nav-container h1 {
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.nav-list a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 5px;
  color: black;
  font-size: 15px;
}
.nav-list a:hover {
  color: black;
  font-weight: bold;
}

#dummy {
  height: 100px;
}

#dance5 {
  margin-bottom: 500px;
}

/* nav End*/

/* Hem Start */

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  align-items: center;
}

.content video {
  position: relative;
  object-fit: cover;
  background-attachment: fixed;
  opacity: 0.8;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(8px);
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid white;
  margin-top: 20px;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 300;
  color: white;
  text-align: center;
  transition: all 0.2s;
}

#detach-button-host {
  display: none;
}

.button:hover {
  color: black;
  background-color: white;
}

.welcome-text {
  font-size: 3.5vw;
}
.slogan-text {
  font-size: 2vw;
}

/* Hem End */

/* Kurser Start*/

.dance-container {
  display: flex;
  position: relative;
  align-items: center;
  top: 100px;
  padding: 50px;
  justify-content: center;
}
video {
  width: 400px;
  opacity: 0.8;
  border-radius: 30px;
  box-shadow: 3px 3px 20px 3px #000000;
}
.dance-text {
  padding-left: 20px;
}

@media only screen and (max-width: 800px) {
  .dance-container {
    display: block;
    justify-content: center;
    text-align: center;
  }
  video {
    width: 300px;
  }
  .dance-text {
    padding: 5px 80px;
  }
}

/* Kurser end */

/* Kontakta oss Start*/

.larare {
  display: flex;
  justify-content: center;
  position: relative;
  top: 120px;
  text-transform: capitalize;
}

.all-cards {
  display: flex;
}
.all-cards,
.all-cards-mobile {
  margin: 150px 0;
  position: relative;
}

.card,
.card-mobile {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1.9);
  max-width: 300px;
  margin: auto;
  text-align: center;
  border-radius: 40px;
  padding-bottom: 15px;
  transform-style: preserve-3d;
  background-color: #d78a76;
  transition: transform 1s ease-in-out;
}
.card {
  width: 100%;
  height: 100%;
}
.card img,
.card-mobile img {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}
.card img {
  width: 150px;
  height: 160px;
  padding-top: 10px;
  border-radius: 50%;
  background-color: transparent;
  margin-top: 10px;
}

.card-content:hover .card {
  transform: rotateY(180deg);
}
.card-content h1 {
  font-size: 25px;
  margin-bottom: 10px;
}
.card-content {
  display: flex;
  width: 25%;
  padding: 0px 10px;
  height: 400px;
}
.card-title {
  font-style: italic;
  color: rgb(73, 73, 73);
  font-size: 18px;
}
.card .front {
  border-radius: 40px;
}
.card .front h1 {
  margin-top: 30px;
}

.card .back {
  background-color: rgb(177, 216, 228);
  color: white;
  transform: rotateY(180deg) translateZ(1px);
  font-size: large;
  border-radius: 40px;
}
.card .back h2 {
  margin-bottom: 10%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10%;
}
.card .back p {
  margin-bottom: 10%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10%;
}

.card figure {
  width: 100%;
  height: 100%;
  position: absolute;
}

@media screen and (min-width: 10000px) {
  .all-cards-mobile {
    display: none;
  }
}

@media screen and (max-width: 800000px) {
  .all-cards {
    display: none;
  }

  .card-content-mobile {
    display: flex;
    width: 100%;
    padding: 0px 10px;
    margin-top: 20%;
    margin-bottom: 50px;
  }
  .card-mobile img {
    width: 150px;
    height: 160px;
    padding-top: 10px;
    border-radius: 50%;
    background-color: transparent;
    margin-top: 10px;
  }
  .card-content-mobile h1 {
    font-size: 20px;
    padding-top: 10px;
  }
  .card-content-mobile p {
    font-size: 15px;
    padding: 5px;
  }
  .card-content-mobile i {
    margin: 10px 0;
  }
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
a:hover,
button:hover {
  opacity: 0.8;
}

button {
  border: none;
  padding: 8px;
  display: inline-block;
  color: white;
  background-color: black;
  cursor: pointer;
  width: 70%;
  border-radius: 20px;
  font-size: 18px;
  text-align: center;
}
button:hover {
  animation: kontakt 1s infinite;
  animation-direction: alternate;
}
@keyframes kontakt {
  100% {
    width: 100%;
    background-color: black;
    color: white;
    opacity: 1.5;
    border-radius: 0;
  }
}

.hitta {
  margin-bottom: 150px;
}
.hitta h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-transform: capitalize;
}
.adress-wrapper {
  text-align: center;
  padding: 10px 0;
}
.adress-wrapper .map {
  margin-top: 20px;
}
.adress-icon-wrapper,
.adress-icon-wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.adress-icon-wrapper a,
.adress-icon-wrapper p {
  margin: 10px;
}

iframe {
  border-radius: 30px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*Kontakta-oss End*/

/* Tool-tip Start*/

#slide {
  position: fixed;
  top: 40%;
  left: 0;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#slide_inner {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #00ACEE;
  height: 100vh;
  padding: 38px;
  max-width: 410px;
  top: 100px;
  bottom: 300px;
  color: white;
  left: -400px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#slide:hover {
  left: 350px;
}

#slide:hover #slide_inner {
  left: 0;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-top: 20px;
  box-sizing: border-box;
  border: 2px #000;
  border-radius: 4px;
}

textarea {
  width: 100%;
  height: 150px;
  margin-top: 20px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px #000;
  border-radius: 4px;
  background-color: #FFF;
  font-size: 16px;
}

form {
  margin-top: 20px;
}

.button-form {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.2em solid white;
  margin-top: 20px;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 800;
  color: white;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}

.button-form:hover {
  color: black;
  background-color: white;
}

label {
  float: left;
}

/* Tool-tip End */

/* Footer Start */

footer {
  background-color: rgb(177, 216, 228);
  display: flex;
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
}

.footer-opacity {
  opacity: 0.7;
}

footer ul {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}
footer li {
  list-style-type: none;
}
i {
  color: #000;
  transition: 0.5s;
}
i:hover {
  color: white;
  transform: rotate(20deg);
}

/* Footer End */

/* hejhej */
