@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

/* Header Vivian Start*/

header {
  background-color: #6f2232;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
}

.logo {
  height: 100%;
  text-align: center;
  padding: 0 10px;
}
.logo img {
  padding-top: 5px;
}
.logo h1 {
  font-size: 20px;
}
.logo a {
  text-decoration: none;
  color: black;
}

nav {
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: white;
}

@media only screen and (max-width: 600px) {
  nav {
    display: block;
    padding: 10px;
  }
  nav a {
    display: block;
  }
}

/* Header Vivian End */

/* Kurser Vivian Start*/

.kurser-container{
  background-color: white;
  height: 100%;
  position: sticky;
  top: 100px;
  justify-content: center;
  text-align: center;
  z-index: 1;
}
.kurser-container h1{
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.list-kurser a{
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 5px;
  color: black;
  
}
.list-kurser a:hover{
  color:#6f2232;
  font-weight: bold;
}


.dance-container{
  display: flex;
  position: relative;
  align-items: center;
  top: 100px;
  padding: 50px;
  justify-content: center;
  overflow: scroll;
}
video{
  width: 400px;
  opacity: 0.8;
}
.dance-text{
  padding-left: 10px;
} 
.dance-text h3{
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  .dance-container{
    display: block;
    width: 100%;
    padding: 100px 0;
  }
}

/* Kurser Vivian end */



footer {
  width: 100%;
  background: #c3073f;
  position: fixed;
  bottom: 0;
  text-align: center;
}
footer ul {
  padding: 20px;
}
i {
  color: #000;
}
i:hover {
  color: white;
}

.tooltip-container {
  position: fixed;
  top: 50%;
  right: 0;
  padding: 10px;
  background-color: red;
}

.tooltip-container:hover p {
  display: block;
}

.tooltip-container p {
  display: none;
}

.mainbild {
  position: fixed;
  right: 10;
}

/* Albin start på "Kontakta-oss"*/

.all-cards {
  display: flex;
  margin-top: 15%;
}

.card img {
  width: 150px;
  height: 160px;
  padding-top: 10px;
}

.card-content {
  display: flex;
  width: 25%;
  padding: 0px 10px;
}

@media screen and (max-width: 800px) {
  .all-cards {
    flex-direction: column;
    margin-top: 20%;
    margin-bottom: 20%;
  }
  .card-content {
    width: 100%;
  }
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  background-color: white;
  text-align: center;
  border-radius: 40px;
  padding-bottom: 15px;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  padding: 8px;
  display: inline-block;
  color: white;
  background-color: black;
  cursor: pointer;
  width: 70%;
  border-radius: 20px;
  font-size: 18px;
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

a:hover,
button:hover {
  opacity: 0.6;
}

.kontakta-oss-container {
  background-image: linear-gradient(to bottom right, #93a5cf, #e4efe9);
}

/*Albin slut på "Kontakta-koss"*/
