@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");

* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

body {
  /* background: #000003; */
  /* color: white; */
  font-weight: 800;
  font-size: 1rem;
  text-align: center;
}

.container {
  background: #6f2232;
  display: flex;
  text-align: center;
  justify-content: center;
}
.container img {
  width: 50px;
  height: 50px;
  padding-top: 20px;
}
.container h1 {
  font-size: 1rem;
}

nav {
  padding-top: 25px;
}

.nav-logo {
  text-decoration: none;
  color: white;
}

nav li {
  display: inline-block;
  list-style: none;
  padding: 20px;
}
nav a {
  color: rgb(253, 253, 253);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
nav a:hover {
  color: #000;
}

body h1,
body p {
  margin: 1rem 0;
  color: black;
}

footer {
  width: 100%;
  background: #c3073f;
  position: fixed;
  bottom: 0;
}
footer ul {
  padding: 20px;
}
i {
  color: #000;
}
i:hover {
  color: white;
}

.tooltip-container {
  position: fixed;
  top: 50%;
  right: 0;
  padding: 10px;
  background-color: red;
}

.tooltip-container:hover p {
  display: block;
}

.tooltip-container p {
  display: none;
}

.mainbild {
  position: fixed;
  right: 10;
}

/* header::after {
  content: "";
  display: table;
  clear: both;
} */

/*

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 100px;
  padding-top: 15px;

  position: relative;
}


nav a:hover::before {
  width: 100%;
}



h1 {
  text-align: center;
  color: aliceblue;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}


ul {
  padding: 1.25rem;
  text-align: center;
}

.content {
  flex: 1;
}

a:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:focus {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
a:hover,
a:active {
  text-decoration: none;
  color: black;
} */
