@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  scroll-behavior: smooth;
}

body{
  background-color: rgba(177, 216, 228, 0.384);
}




/* Header Vivian Start*/

header {

  background-color: rgb(177, 216, 228);
  /* background-color: #6f2232; */
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
}

.logo {
  height: 100%;
  text-align: center;
  padding: 0 10px;
}
.logo img {
  padding-top: 5px;
}
.logo h1 {
  font-size: 20px;
}
.logo a {
  text-decoration: none;
  color: black;
}

nav {
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
}
nav a:hover {
  color: white;
}

.logo i{
  display: none;
}

@media only screen and (max-width: 600px) {
  header{
    display: block;
    z-index: 2
  }
  .logo{
    display: block;
  }
  .logo i{
    display: block;
    position: absolute;
    right: 30px;
    top: 50px;
  }

  nav {
    background-color: rgb(202, 231, 240);
    /* background-color: #c3073f; */
    display: block;
    text-align: center;
    height: auto;
    visibility: collapse;
  }
  nav a {
    display: block;
    padding: 5px;
  } 
}

/* Header Vivian End */

/* Kurser Vivian Start*/

.kurser-container {

  background-color: rgb(202, 231, 240);

  /* background-color: white; */
  height: 100%;
  position: sticky;
  top: 100px;
  justify-content: center;
  text-align: center;
  z-index: 1;
}
.kurser-container h1 {
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.list-kurser a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 5px;
  color: black;
}
.list-kurser a:hover {
  color: #6f2232;
  font-weight: bold;
}

.dance-container {
  display: flex;
  position: relative;
  align-items: center;
  top: 100px;
  padding: 50px;
  justify-content: center;
  overflow: scroll;
}
video {
  width: 400px;
  opacity: 0.8;
}
.dance-text {
  padding-left: 10px;
}
.dance-text h3 {
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  .dance-container {
    display: block;
    justify-content: center;
  }
}

/* Kurser Vivian end */

/* Olof */

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  align-items: center;
}


.content video {
  position: relative;
  object-fit: cover;
  background-attachment: fixed;
  opacity: 0.8;
  width: 100%;
  height: calc(100vh - 80px);
  margin-top: 80px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(8px);
  height: calc(100vh - 80px);
  margin-top: 80px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.button {
  display:inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid white;
  margin-top: 20px;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 300;
  color:white;
  text-align: center;
  transition: all 0.2s;
}

.button:hover {
  color: black;
  background-color: white;
}

.welcome-text {
  font-size: 3.5vw;
}
.slogan-text {
  font-size: 2.0vw;
}

/* Olof */

footer {
  width: 100%;
  background-color: rgb(177, 216, 228);
  /* background: #c3073f; */
  position: fixed;
  bottom: 0;
  text-align: center;
}
footer ul {
  padding: 20px;
}
i {
  color: #000;
  transition: 0.5s;
}
i:hover {
  color: white;
  transform: rotate(20deg);
}

.tooltip-container {
  position: fixed;
  top: 50%;
  right: 0;
  padding: 10px;
  background-color: red;
}

.tooltip-container:hover p {
  display: block;
}

.tooltip-container p {
  display: none;
}

.mainbild {
  position: fixed;
  right: 10;
}

/* Albin start på "Kontakta-oss"*/

.all-cards {
  display: flex;
  margin-top: 15%;
}

.card img {
  width: 150px;
  height: 160px;
  padding-top: 10px;
}

.card-mobile img {
  width: 150px;
  height: 160px;
  padding-top: 10px;
}

.card-content {
  display: flex;
  width: 25%;
  padding: 0px 10px;
  height: 400px;
}

.card-content-mobile {
  display: flex;
  width: 100%;
  padding: 0px 10px;
  margin-top: 20%;
  margin-bottom: 20%;
}

@media screen and (max-width: 800px) {
  .all-cards {
    display: none;
    flex-direction: column;
    margin-top: 20%;
    margin-bottom: 20%;
  }
  .card-content {
    width: 100%;
  }
}

@media screen and (min-width: 801px) {
  .all-cards-mobile {
    display: none;
  }
}

.card-content-mobile {
  width: 100%;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  background-color: white;
  text-align: center;
  border-radius: 40px;
  padding-bottom: 15px;
  transform-style: preserve-3d;
  background: #8cb0e6;
}

.card-mobile {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  background-color: white;
  text-align: center;
  border-radius: 40px;
  padding-bottom: 15px;
  background: #8cb0e6;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
}

.card-content:hover .card {
  transform: rotateY(180deg);
}

.card .front {
  background: #8cb0e6;
  border-radius: 40px;
}

.card .back {
  background: #49f8cc;
  color: white;
  transform: rotateY(180deg) translateZ(1px);
  font-size: large;
  border-radius: 40px;
}

.card .back p {
  margin-bottom: 10%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10%;
}

.card figure {
  width: 100%;
  height: 100%;
  position: absolute;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  padding: 8px;
  display: inline-block;
  color: white;
  background-color: black;
  cursor: pointer;
  width: 70%;
  border-radius: 20px;
  font-size: 18px;
  text-align: center;
}

.card-content i:hover {
  color: grey;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

a:hover,
button:hover {
  opacity: 0.6;
}

.kontakta-oss-container {
  background-image: linear-gradient(to bottom right, #93a5cf, #e4efe9);
}

/*Albin slut på "Kontakta-koss"*/
